@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

.cardHightlight{
  display: flex;
  min-height: 100%;
}

body{
  background: #EBE0D6;
}

.size1{
    color: #1a1a1a;
    font-size: 30px;
}

.size2{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 25px;
  color: #088178;
}

.header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1px 20px 1px 80px;
      background: #EBE0D6;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
      z-index: 999;
      position: sticky;
      top: 0;
      left: 0;
}

.navbar {
  padding-top: 1px;
  padding-bottom: 1px;

  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.font{
    padding: 1px 20px;
    margin: 1px 14px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
    transition: 0.3s ease;
  }

.navbar .font:hover {
      color: #088178;
    }
  
.hero{
      background-image: url("images/hero2.jpg");
      height: 94vh;
      width: 100%;
      background-position: top 25% right 100%;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0px 180px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
}
  
.hero h4 {
  padding-bottom: 15px;
  color: blue;
  font-size: 35px;
}

.hero h2 {
  padding-bottom: 0px;
  font-size: 50px;

}

.hero h1 {
  padding-bottom: 15px;
  color: #088178;
  font-size: 55px;
}

.hero p {
  padding-bottom: 15px;
  color: dimgray;
  font-size: 20px;
}



.hero .buy {
  color: white;
  border-radius: 100px;
  width: 100px;
  background-color: blue;
  border: solid black 1px;
  cursor: pointer;
  font-weight: 600px;
  font-size: 20px;
  padding: 10px 17px 10px 17px;
  margin-left: 20px;
  text-decoration: none;
}


.product1 {
width: 97vw;
display: flex;
flex-wrap: wrap;

}

.product2 {
  justify-content: space-between;
  padding-top: 20px;
}

.prod1{
  background-color: #EBE0D6;
  max-width: 350px;
  width: 100%;
  margin: 2rem auto;
  border-style: solid;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

.product4 {
  background-color: #EBE0D6;
  width: 100%;
  min-width: 300px;
  padding: 10px 10px;
  border: 2px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 10px;
  transition: 0.2s ease;
  border-radius: 20px;
  position: relative;
}

.des {
  text-align: start;
  padding: 0px 15px;
}
.plat{
  color: dimgray;
  padding: 0px 0px;
  margin: 0px 0px;
  font-size: 17px;
} 
.product3:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.cart {
  width: 25px;
  height: 25px;
  line-height: 40px;
  border-radius: 60px;
  background: #EBE0D6;
  font-weight: 500;
  color: #088178;
  position: absolute;
  bottom: 18px;
  right: 25px;
}

.cart2 {
  width: 25px;
  height: 25px;
  line-height: 40px;
  border-radius: 60px;
  background: #EBE0D6;
  font-weight: 500;
  color: #088178;
  position: absolute;
  bottom: 70px;
  right: 25px;
}

.span1{
    font-size: 20px;
    color: white;
    background-color: black;
    position: relative;
    top: -1px;
    border-radius: 25px;
    border-style: 10px solid black;
    padding: 5px 10px;
}

.text1{
  text-align: center;
  position: relative;
  right: 250px;
  padding-top: 15px;
}
.pad1{
  padding-left: 45px;
  text-decoration: none;
  color: black; 
  font-size:  20px;
}

.set1{
background-color: white;
border: 0px;
padding: 0px;
margin: 0px;
}

.red1{
  border-radius: 25px;
  
  padding: 25px 25px;
  background-color: #EBE0D6;
  border: 2px solid #cce7d0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.red2 {
  padding: 80px 55px;
}

.emptyCart{
  text-align: center;
  padding-top:100px ;
}
.check1{
    background-color: #EBE0D6;
      max-width: 500px;
      width: 100%;
      margin: 2rem auto;
      border: 2px solid #cce7d0;
      padding: 5px 5px;
      border-radius: 10px;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}
.check2{
  background-color: #EBE0D6;
  
}

.button99{
  text-align: center;
  width: 13%;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background: #EBE0D6;
    font-weight: 500;
    position: relative;
    margin-bottom: 30px;
}